<%= form_with model: @meeting, url: v1_meetings_path, data: { controller: "v1--meetings" } do |f| %>
  <div style="margin-bottom: 1rem;">
    <div><%= f.label :title %></div>
    <div><%= f.text_field :title %></div>
    <p style="color: red;"><%= @meeting.errors.full_messages_for(:title).join %></p>
  </div>
  <div style="margin-bottom: 1rem;">
    <div>Category</div>
    <%= f.radio_button :category, "real", data: { action: "change->v1--meetings#changeCategory" } %>
    <%= f.label :category, "Real", value: "real" %>

    <%= f.radio_button :category, "online", data: { action: "change->v1--meetings#changeCategory" } %>
    <%= f.label :category, "Online", value: "online" %>

    <%= f.radio_button :category, "hybrid", data: { action: "change->v1--meetings#changeCategory" } %>
    <%= f.label :category, "Hybrid", value: "hybrid" %>
  </div>
  <div style="margin-bottom: 1rem; display: <%= %w[real hybrid].include?(@meeting.category) ? "block" : "none" %>;" class="optional real hybrid">
    <div><%= f.label :meeting_room %></div>
    <div><%= f.text_field :meeting_room %></div>
  </div>
  <div style="margin-bottom: 1rem; display: <%= %w[online hybrid].include?(@meeting.category) ? "block" : "none" %>;" class="optional online hybrid">
    <div><%= f.label :meeting_url %></div>
    <div><%= f.text_field :meeting_url %></div>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
